
<div *ngIf="eventMedia">
    <h2><span>event media</span> {{eventMedia.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">

        <dt><span>media</span></dt>
        <dd>
            <div *ngIf="eventMedia.media">
                <a [routerLink]="['/media', eventMedia.media?.id]">{{eventMedia.media?.id}}</a>
            </div>
        </dd>

        <dt><span>Created</span></dt>
        <dd>
            <span>{{eventMedia.created | date:'medium'}}</span>
        </dd>

    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'event-media/'+ eventMedia.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
