
<div *ngIf="eventType">
    <h2><span>Event Type</span> {{eventType.id}} / {{eventType.eventType}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Icon</span></dt>
        <dd>
            <span>{{eventType.imageUrl}}</span>
        </dd>
        <dt><span>Event Type</span></dt>
        <dd>
            <span>{{eventType.eventType}}</span>
        </dd>

    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'event-type/'+ eventType.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
